<table class="row templateSection" style="vertical-align: top; text-align: left; width: 100%; position: relative; display: block; font-family: 'Arial', Helvetica, sans-serif; padding: 0;">
  <tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
    <td height="30" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
  </tr>
  <tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
    <td class="wrapper" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top">
      <table class="eight columns" style="vertical-align: top; text-align: left; width: 380px; font-family: 'Arial', Helvetica, sans-serif; margin: 0 auto; padding: 0;">
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="centersmall bold blue font20 padleft20 editArea" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; font-size: 20px; line-height: 26px; font-weight: bold; color: #00365b; padding: 0px 0px 0px 20px;" align="left" valign="top">
	    <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 20px; line-height: 26px;">Offer ends soon:</font>
	  </td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="centersmall padleft20" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px 0px 0px 20px;" align="left" valign="top">
	    <img src="images/timer.jpg" alt="timer" style="font-family: 'Arial', Helvetica, sans-serif; margin: auto;">
	  </td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px;" align="left" valign="top"></td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td height="10" colspan="2" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="font12 black padleft20 editArea" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #000000; padding: 0px 0px 0px 20px;" align="left" valign="top">
	    <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 12px; line-height: 18px;">Save even more when you transfer high-rate balances to your USAA MasterCard Credit Card edning in {XXXX}.</font>
	  </td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td height="20" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="font12 black padleft20 editArea" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #000000; padding: 0px 0px 0px 20px;" align="left" valign="top">
	    <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 12px; line-height: 18px;"><b style="font-family: 'Arial', Helvetica, sans-serif;">Get a promotional rate of 0% APR until July 1, 2015,</b> on balance transfers and convenience checks that post to your account between July 1, 2014, and August 15, 2014. After July 1, 2015, your APR on these balances will be <b style="font-family: 'Arial', Helvetica, sans-serif;">&lt;XX.XX&gt;</b>. This APR will vary with the market based on the Prime Rate.</font>
	  </td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td height="20" colspan="2" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="font12 black padleft20 editArea" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #000000; padding: 0px 0px 0px 20px;" align="left" valign="top">
	    <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 12px; line-height: 18px;"><b style="font-family: 'Arial', Helvetica, sans-serif;">Skip the transaction fees</b> on balance transfers and convenience checks that post to your account by <b style="font-family: 'Arial', Helvetica, sans-serif;">August 15, 2014</b>. Each balance transfer and convience check that posts after this date will receive the regular balance transfer or cash advance fee of just <b style="font-family: 'Arial', Helvetica, sans-serif;">3% or $XXX</b>, whichever is less.</font>
	  </td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td height="30" colspan="2" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px;" align="left" valign="top"></td>
	</tr>
      </table>
    </td>
    <td class="wrapper last center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center !important; position: relative; font-family: 'Arial', Helvetica, sans-serif; padding: 0 10px 0 0;" align="center !important" valign="top">
      <table class="four columns" style="vertical-align: top; text-align: left; width: 180px; font-family: 'Arial', Helvetica, sans-serif; margin: 0 auto; padding: 0;">
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="blue bold font12 padleft15-small editArea" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; font-size: 12px; line-height: 18px; font-weight: bold; color: #00365b; padding: 0px;" align="left" valign="top">
	    <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 12px; line-height: 18px;">BONUS OFFER</font>
	  </td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td height="10" colspan="2" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="black font12 padleft15-small editArea" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #000000; padding: 0px;" align="left" valign="top">
	    <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 12px; line-height: 18px;"><b style="font-family: 'Arial', Helvetica, sans-serif;">GET A 5% CASH<br style="font-family: 'Arial', Helvetica, sans-serif;">
		REBATE ON GAS</b><br style="font-family: 'Arial', Helvetica, sans-serif;">
	      for up to one year.</font>
	  </td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td height="10" colspan="2" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0px;" align="left" valign="top"></td>
	</tr>
	<tr style="vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left">
	  <td class="black font12 padleft15-small editArea" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; font-family: 'Arial', Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #000000; padding: 0px;" align="left" valign="top">
	    <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 12px; line-height: 18px;"><b style="font-family: 'Arial', Helvetica, sans-serif;">1.</b> Visit: "<a href="#" style="font-family: 'Arial', Helvetica, sans-serif; color: #00365b;">My Offers</a>" at usaa.com<br style="font-family: 'Arial', Helvetica, sans-serif;">
	      <b style="font-family: 'Arial', Helvetica, sans-serif;">2.</b> Accept by <b style="font-family: 'Arial', Helvetica, sans-serif;">August 15, 2014</b><br style="font-family: 'Arial', Helvetica, sans-serif;">
	      <b style="font-family: 'Arial', Helvetica, sans-serif;">3</b> Use your USAA MasterCard Credit Card ending in {XXXX} at the pump</font>
	  </td>
	  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; font-family: 'Arial', Helvetica, sans-serif; padding: 0;" align="left" valign="top"></td>
	</tr>
      </table>
    </td>
  </tr>
</table>


<span id="loadTemplate"></span>
