<!--CONTENT SECTION-->
<table class="row templateSection" style="vertical-align: top; text-align: left; width: 100%; position: relative; display: block; font-family: 'Arial', Helvetica, sans-serif; padding: 0;">
  <tr>
    <td>
      <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
	<tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
	  <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top">
	    <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
	      <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
		<td class="editArea content-text" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #00365b; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 1.4; font-size: 16px; margin: 0; padding: 0px 30px 0px 50px;" align="left" valign="top">
		  <font><br />
		    <br />
		    <b style="font-size: 18px;">What makes USAA Auto Insurance so special?</b><br />
		    <br />
		    <b>1. Competitive rates.</b> USAA Auto Insurance rates beat the competition 3 out of 4 times.<br />
		    <br />
		    <b>2. Exceptional customer service.</b> The service we provide to our members is legendary. USAA is rated the highest in customer advocacy in a survey conducted by Forrester Research, Inc.<br />
		    <br />
		    <b>3. Simple to use.</b> USAA works to help simplify your life with advantages like a mobile app to help you manage your policy and claims anytime, anywhere.<br />
		    <br /></font>
		</td>
		<td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </td>
  </tr>
</table>

<!--END OF CONTENT SECTION-->


<span id="loadTemplate"></span>
