
  <tr><td colspan="4" height="10" style="padding: 0px; background: #ffffff;"></td></tr>
  <tr>
    <td width="24" style="padding: 0px; background: #ffffff;"></td>
    <td valign="top" width="326" style="padding: 0px; background: #ffffff;">
      <table style="width: 100%; border-spacing: 0; border-collapse: collapse; margin: 0;">
	<tr>
	  <td width="100%" valign="middle" style="padding: 0px; background: #ffffff;">
	    <a href="https://www.usaa.com/?EID=mkt_lds_prop_ho_yo_t1-04" style="color: #00365b; font-family: 'Arial', Helvetica, sans-serif;"><img alt="USAA&reg;" src="images/logo.gif" style="display: block; width: auto; padding: 0; border: 0; background: #ffffff" /></a>
	  </td>
	</tr>
      </table>
    </td>
    <td class="vatop" width="196" style="vertical-align: top; padding: 0px;" valign="top">
      <table style="width: 100%; border-spacing: 0; border-collapse: collapse; margin: 0;">
	<tr>
	  <td align="right" class="vatop" width="16" style="vertical-align: top; padding: 0px; text-align: right;" valign="top">
	    <img alt="" src="images/sec_left.gif" style="width: auto; padding: 0; border: 0;" />
	  </td>
	  <td valign="top" width="180" style="padding: 0px; background: #e7e7e8;">
	    <table bgcolor="#E7E7E8" width="100%" style="width: 100%; border-spacing: 0; border-collapse: collapse; margin: 0;">
	      <tr>
		<td colspan="3" style="padding: 0px; background: #e7e7e8;">
		  <img alt="" src="images/sec_top.gif" style="display: block; width: auto; padding: 0; border: 0;" />
		</td>
	      </tr>
	      <tr>
		<td class="vatop" width="20" style="vertical-align: top; padding: 0px; background: #e7e7e8;" valign="top">
		  <img alt="" src="images/sec_right.gif" style="display: block; width: auto; padding: 0; border: 0;" />
		</td>
		<td width="150" class="editArea blue font11 lh14" style="color: #00365b; font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 11px; line-height: 14px !important; padding: 0px; background: #e7e7e8;" align="left" contentEditable="true">
		  <font style="font-family: 'Arial', Helvetica, sans-serif; text-align: left; font-size: 11px; line-height: 14px !important; background: #e7e7e8;"><b>USAA SECURITY ZONE</b><br />
		    %%FNAME_LOW%%<br />
		    %%LNAME_LOW%%<br />
		    USAA # ending in: %%MEMBER_ID_FOUR%%</font>
		</td>
		<td width="10" style="padding: 0px; background: #e7e7e8;"></td>
	      </tr>
	      <tr>
		<td colspan="3" style="padding: 0px;">
		  <img alt="" src="images/sec_bottom.gif" style="display: block; width: auto; padding: 0; border: 0;" />
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </td>
    <td width="14" style="padding: 0px;"></td>
  </tr>
  <tr><td colspan="4" height="10" style="padding: 0px;"></td></tr>



